
.money-title{
    text-align: center;
}

.pul {
    margin-top: 15px  !important;
    max-width: 100%;
}

.wrapper {
    justify-content: space-around ;
}

.chot {
    margin-top: 87px;
}

.lastsum {
    text-align: center;
}